/* Colors ---------------------------------------------- */
$linkblue: rgb(0, 136, 204);
$white: rgb(255, 255, 255);
$blue: rgb(4, 156, 219);


/* Typography ------------------------------------------ */

/* Other Classes --------------------------------------- */
/*
.pull-right {
  padding-right: 1%;
}

.pull-left {
  padding-left: 1%;
}
*/

/* Other Variables ------------------------------------- */
/* 
 * http://stackoverflow.com/questions/9715470/the-bootstrap-sass-doesnt-work-with-rails-3-2-2
 */
// $iconSpritePath: url('eaboot/images/glyphicons-halflings.png');
// $iconWhiteSpritePath: url('eaboot/images/glyphicons-halflings-white.png');

