/*
Error: Invalid CSS after "    width: 29%": expected "{", was ";"
        on line 142 of J:/Users/Linda/github_websites/joneskuriloffsargent/RSargentLaw/sass/style.scss

137:   background: -moz-linear-gradient(45deg, $headerBGStartColor, $headerBGStopColor); // FF
138:   background: linear-gradient(45deg, $headerBGStartColor, $headerBGStopColor);
139:   #LogoOverlay {
140:     position: absolute;
141: <<<<<<< HEAD
142:     width: 29%;
143:     bottom: 0;
144: =======
145:     width: 30%;
146:     bottom: 20px;
147: >>>>>>> 7f32b545b9150b021972cf6b4d3badf31cfafcd7

Backtrace:
J:/Users/Linda/github_websites/joneskuriloffsargent/RSargentLaw/sass/style.scss:142
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1166:in `expected'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1101:in `expected'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:1096:in `tok!'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:641:in `block'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:711:in `declaration_or_ruleset'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:661:in `block_child'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:642:in `block'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:635:in `ruleset'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:660:in `block_child'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:653:in `block_contents'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:117:in `stylesheet'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/scss/parser.rb:42:in `parse'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:393:in `_to_tree'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/engine.rb:268:in `render'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:492:in `update_stylesheet'
org/jruby/RubyMethod.java:128:in `call'
file:/C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/compass-app.jar!/hook/compass_patch.rb:108:in `update_stylesheet'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:215:in `update_stylesheets'
org/jruby/RubyArray.java:1613:in `each'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/compass_1.0/sass-3.4.13/lib/sass/plugin/compiler.rb:328:in `watch'
org/jruby/RubyProc.java:271:in `call'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:252:in `on_change'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/listener.rb:290:in `initialize_adapter'
org/jruby/RubyProc.java:271:in `call'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapters/polling.rb:48:in `poll_changed_directories'
C:/Users/LindaS/Desktop/compass.app.windows.1.29/compass.app/lib/ruby/jruby/listen-1.3.1-patched/lib/listen/adapter.rb:297:in `start_poller'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"    width: 29%\": expected \"{\", was \";\"\A         on line 142 of J:/Users/Linda/github_websites/joneskuriloffsargent/RSargentLaw/sass/style.scss\A \A 137:   background: -moz-linear-gradient(45deg, $headerBGStartColor, $headerBGStopColor); // FF\A 138:   background: linear-gradient(45deg, $headerBGStartColor, $headerBGStopColor);\A 139:   #LogoOverlay {\A 140:     position: absolute;\A 141: <<<<<<< HEAD\A 142:     width: 29%;\A 143:     bottom: 0;\A 144: =======\A 145:     width: 30%;\A 146:     bottom: 20px;\A 147: >>>>>>> 7f32b545b9150b021972cf6b4d3badf31cfafcd7"; }
