/*  styling for team member */
.single-team-member {
	.team-member-thumb {
		max-width: 300px;
		float: left;
		padding-right: 20px;
		padding-bottom: 20px;
	}
	.role {
		font-weight: bold;
	}
}

/* team-member shortcode sytling 
*  image on left, text wrap around, border separating 
*/
.widget .team-members {

	.team-member {
		clear: both;
		overflow: auto;
		border-bottom: 1px solid #d9d9d9;
		padding-bottom: 20px;
		figure {
			max-width: 300px;
			float: left;
			margin: 0px;
			padding-right: 20px;
			padding-bottom :10px;
		}
		.role {
			font-weight: bold;
		}
	}
	.team-member:not(:first-child) {
		padding-top: 20px;
	}
	
}